.personalization-api-admin .nav-tab-wrapper { margin-bottom: 1em; }
.personalization-api-admin .personalization-api-key { word-break: break-all; font-size: 12px; }
.personalization-api-admin pre { margin: 0; font-size: 11px; }
